* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
  
.container {
    min-height: 100vh;
}

ul {
    list-style: none;
    
    align-items: center;
}
  
a {
    text-decoration: none;
}

.btn {
    background-color: red;
}
  
#header {

}
  
#nav-bar {

    display: flex;
    width: 100%;
    justify-content: center space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

