* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
  
.container {
    height: 100vh;

}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
#header {
    display: flex;
}
  
#nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
